@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Anton");
* {
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 5em;
  background-color: #f5f3f0;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

h1 {
  font-size: 40px;
  color: #0a0a0a;
  /* font-family: "Anton", sans-serif; */
}

.burger-menu {
  height: 100%;
  width: 3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
}

.burger-bar {
  width: 3em;
  height: 0.5em;
  background-color: #ad8357;
  border-radius: 0.5em;
}

.menu {
  width: 50%;
  height: 100vh;
  background-color: #322e2f;
  position: absolute;
  top: 0;
  z-index: 10;
}

/* ----sliding menu------ */
.hidden {
  display: none;
}

.visible {
  display: inherit;
}

/* -----animation ------- */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 1.25em);
  transition: ease-out 0.3s;
}

.burger-bar.clicked:nth-child(2) {
  transform: scale(0.01);
  transition: ease-out 0.3s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-out 0.3s;
}

/* unclicked */

.burger-bar.unclicked:nth-child(1) {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

menu,
.navlinks {
  display: flex;
  direction: row;
  color: #88989a;
  vertical-align: middle;
  padding: 10px 0px 10px 0px;
}

.navlinks {
  display: block;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
  /* padding-top: 50px; */
}

.navlinks:nth-child(1) {
  margin-top: 100px;
}
.topicsNavBar {
  background-color: #ad8357;
}
